.logo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 72px;
    font-family: Raleway;
  }
  .company {
    font-weight: 600;
  }
  .about-us,
  .company {
    position: relative;
  }
  .about-us-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    font-size: 20px;
    color: #c6c6c6;
  }
  .company-parent {
    gap: 19px;
  }
  .company-parent,
  .frame-parent,
  .legal-parent,
  .policy-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .legal-parent {
    gap: 12px;
    font-size: 20px;
    color: #acacac;
  }
  .frame-parent,
  .policy-parent {
    gap: 20px;
  }
  .frame-parent {
    position: absolute;
    top: 0;
    left: 475px;
    flex-direction: row;
    gap: 155px;
  }
  .link-svg {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .follow-us-parent,
  .link-svg-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
  }
  .follow-us-parent {
    position: absolute;
    top: 0;
    left: 1551px;
    flex-direction: column;
    gap: 20px;
  }
  .logo-parent {
    position: absolute;
    height: 4.57%;
    width: 91.57%;
    top: 94.34%;
    right: 4.48%;
    bottom: 1.1%;
    left: 3.96%;
    font-size: 28px;
    color: #fff;
  }
  .frame-child {
    position: relative;
    border-radius: 33px;
    width: 56.38px;
    height: 56.38px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .abellazycher {
    position: relative;
    font-size: 16px;
  }
  .abella-zycher-parent,
  .frame-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
  }
  .frame-container {
    position: absolute;
    top: 251px;
    left: 12px;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  .frame-wrapper {
    border-radius: 12px;
    width: 652px;
    height: 315px;
    background-image: url(/public/frame-169250@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .frame-div,
  .frame-item,
  .frame-wrapper {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-item {
    border-radius: 33px;
    width: 56.38px;
    height: 52px;
    object-fit: cover;
  }
  .frame-div {
    border-radius: 12px;
    width: 417px;
    height: 315px;
    background-image: url(/public/frame-169249@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .frame-group {
    position: absolute;
    top: 870.14px;
    left: -33px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    transform: rotate(5.05deg);
    transform-origin: 0 0;
  }
  .frame-inner {
    position: relative;
    border-radius: 33px;
    width: 52px;
    height: 52px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-parent3 {
    position: absolute;
    top: 198px;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .frame-wrapper1,
  .frame-wrapper2 {
    position: relative;
    border-radius: 12px;
    width: 379px;
    height: 262px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-169251@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .frame-wrapper2 {
    width: 690px;
    background-image: url(/public/frame-169248@3x.png);
  }
  .frame-parent2 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .frame-wrapper3 {
    border-radius: 12px;
    width: 652px;
    height: 315px;
    background-image: url(/public/frame-1692501@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .frame-child2,
  .frame-wrapper3,
  .frame-wrapper4 {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-child2 {
    border-radius: 33px;
    width: 56.38px;
    height: 55.27px;
    object-fit: cover;
  }
  .frame-wrapper4 {
    border-radius: 12px;
    width: 417px;
    height: 315px;
    background-image: url(/public/frame-1692491@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .frame-parent5 {
    position: absolute;
    top: 282px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .images1 {
    position: relative;
    border-radius: 12px;
    background-color: #121212;
    width: 1089px;
    height: 597px;
  }
  .images-inner {
    position: absolute;
    top: 0;
    left: 399px;
    width: 690px;
    height: 262px;
    background-image: url(/public/frame-1692481@3x.png);
  }
  .frame-wrapper5,
  .frame-wrapper6,
  .images-child,
  .images-inner {
    border-radius: 12px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .images-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 379px;
    height: 262px;
    background-image: url(/public/frame-1692511@3x.png);
  }
  .frame-wrapper5,
  .frame-wrapper6 {
    position: relative;
    width: 652px;
    height: 315px;
    flex-shrink: 0;
    background-image: url(/public/frame-1692502@3x.png);
  }
  .frame-wrapper6 {
    width: 417px;
    background-image: url(/public/frame-1692492@3x.png);
  }
  .images-parent {
    position: absolute;
    top: 521.35px;
    left: calc(50% - 1183px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    transform: rotate(5.05deg);
    transform-origin: 0 0;
  }
  .frame-wrapper7,
  .frame-wrapper8 {
    position: relative;
    border-radius: 12px;
    width: 379px;
    height: 262px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-1692512@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .frame-wrapper8 {
    border-radius: 12px 0 0 12px;
    width: 690px;
    background-image: url(/public/frame-1692482@3x.png);
  }
  .frame-parent13 {
    position: absolute;
    top: 11.14px;
    left: 1041px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    transform: rotate(5.05deg);
    transform-origin: 0 0;
  }
  .images {
    top: 0;
    left: 0;
  }
  .banner-full-width-inner,
  .group-child,
  .images {
    position: absolute;
    width: 1920px;
    height: 663px;
  }
  .group-child {
    top: 0;
    left: 0;
    background-color: rgba(33, 27, 38, 0.2);
  }
  .banner-full-width-inner {
    top: 663px;
    left: -1px;
  }
  .banner-full-width {
    position: absolute;
    top: 3754px;
    left: calc(50% - 959.5px);
    background: linear-gradient(270deg, #121212, #1e1c22);
    width: 1920px;
    height: 663px;
    overflow: hidden;
    font-size: 14px;
    color: #fff;
    font-family: Poppins;
  }
  .ellipse-div {
    position: absolute;
    top: 737px;
    left: 527px;
    border-radius: 50%;
    background: linear-gradient(
      91.19deg,
      rgba(117, 38, 242, 0.1),
      rgba(200, 38, 242, 0.1)
    );
    filter: blur(500px);
    width: 798px;
    height: 798px;
  }
  .emojis-icon {
    position: absolute;
    top: -739px;
    left: 0;
    width: 1920px;
    height: 1920px;
  }
  .ready-to-cash {
    margin: 0;
  }
  .heading {
    position: absolute;
    top: 463.5px;
    left: calc(50% - 389px);
    font-weight: 600;
  }
  .span {
    font-size: 40px;
  }
  .sub-heading {
    position: absolute;
    top: 55px;
    left: 0;
  }
  .div {
    position: relative;
    font-weight: 600;
    background: linear-gradient(91.19deg, #7526f2, #c826f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .wrapper {
    position: absolute;
    top: 0;
    left: 187px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 48px;
  }
  .commission-on-all {
    position: absolute;
    top: 44px;
    left: 311px;
  }
  .sub-heading-parent {
    position: absolute;
    top: 249px;
    left: calc(50% - 441px);
    width: 881px;
    height: 72px;
    font-size: 24px;
    color: rgba(137, 117, 156, 0.7);
  }
  .button-start-your-journey {
    position: absolute;
    top: 217px;
    left: calc(50% - 139px);
    border-radius: 16px;
    background: linear-gradient(92.93deg, #b126f2, #7700d4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    width: 278px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    box-sizing: border-box;
    text-align: left;
    font-size: 20px;
    color: #fff;
  }
  .ellipse-parent {
    position: absolute;
    top: 526px;
    left: 0;
    width: 1920px;
    height: 739px;
  }
  .content-icon {
    position: absolute;
    top: calc(50% - 263px);
    left: calc(50% - 884px);
    border-radius: 28px;
    width: 1768px;
    height: 538px;
  }
  .button-start-your-journey1 {
    border-radius: 16px;
    background: linear-gradient(92.93deg, #b126f2, #7700d4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    width: 278px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    box-sizing: border-box;
  }
  .paragraph {
    position: relative;
    font-size: 28px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    width: 1412px;
  }
  .hero-texts,
  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .texts {
    gap: 28px;
    text-align: center;
    font-size: 48px;
    color: #cac4d2;
  }
  .hero-texts {
    position: absolute;
    top: calc(50% + 153px);
    left: calc(50% - 706.5px);
    gap: 56px;
  }
  .image-1-icon,
  .image-2-icon {
    position: absolute;
    top: 0;
    left: 1308px;
    width: 775.54px;
    height: 735.4px;
    object-fit: cover;
    mix-blend-mode: saturation;
  }
  .image-1-icon {
    left: 0;
    width: 733px;
    height: 694px;
  }
  .call-to-action {
    position: absolute;
    bottom: 213px;
    left: calc(50% - 884px);
    border-radius: 28px;
    box-shadow: 0-4px 8px rgba(23, 23, 23, 0.25) inset,
      0 1px 6px rgba(18, 18, 18, 0.25) inset, 0 4px 8px rgba(23, 23, 23, 0.41);
    width: 1768px;
    height: 526px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #fff;
  }
  .affiliateprogram-section {
    position: absolute;
    top: 5019px;
    left: 0;
    background: linear-gradient(180deg, #121212, #1e1c22);
    width: 1920px;
    height: 1265px;
    overflow: hidden;
    text-align: center;
    font-size: 48px;
  }
  .bubbles-left,
  .bubbles-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 904px;
    height: 678px;
    opacity: 0.5;
  }
  .bubbles-right {
    left: 954px;
  }
  .call-to-action-child {
    position: absolute;
    top: -206px;
    left: calc(50% - 546px);
    border-radius: 50%;
    background: linear-gradient(
      91.19deg,
      rgba(117, 38, 242, 0.1),
      rgba(200, 38, 242, 0.1)
    );
    filter: blur(500px);
    width: 1090px;
    height: 1090px;
  }
  .dont-miss-out {
    margin: 0;
    font-size: 24px;
    color: rgba(137, 117, 156, 0.7);
  }
  .join-us-today {
    margin: 0;
    font-weight: 600;
  }
  .heading2 {
    position: relative;
    display: inline-block;
    width: 872px;
  }
  .button-join-now,
  .content1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-join-now {
    border-radius: 16px;
    background: linear-gradient(92.93deg, #b126f2, #7700d4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    width: 278px;
    flex-direction: row;
    padding: 16px 24px;
    box-sizing: border-box;
    text-align: left;
    font-size: 20px;
    color: #fff;
  }
  .content1 {
    position: absolute;
    top: calc(50% - 147px);
    left: calc(50% - 436px);
    flex-direction: column;
    gap: 52px;
  }
  .call-to-action1 {
    position: absolute;
    top: 2333px;
    left: calc(50% - 928.5px);
    width: 1858px;
    height: 678px;
    text-align: center;
  }
  .key-features-section-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 76px;
    overflow: hidden;
  }
  .hedaing {
    position: absolute;
    top: 0;
    left: 701.5px;
    line-height: 118%;
  }
  .feature-card-child {
    position: absolute;
    top: calc(50% - 212px);
    left: calc(50% - 282.5px);
    width: 565px;
    height: 424px;
  }
  .save-time-with-container {
    position: relative;
    line-height: 118%;
    font-weight: 500;
  }
  .supercharge-your-content {
    position: relative;
    font-size: 20px;
    color: #89759c;
    display: inline-block;
    width: 422px;
  }
  .save-time-with-automation-and-parent {
    position: absolute;
    top: 180px;
    left: calc(50% - 234.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .image-12-icon {
    position: absolute;
    top: 36px;
    left: calc(50% - 60.5px);
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  .feature-card {
    position: relative;
    border-radius: 28px;
    background-color: #1e1c22;
    width: 565px;
    height: 424px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .join-abcs-vibrant {
    position: relative;
    font-size: 20px;
    color: #89759c;
    display: inline-block;
    width: 464px;
  }
  .join-a-supportive-community-parent {
    position: absolute;
    top: 180px;
    left: calc(50% - 232px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .unlock-exclusive-opportunities {
    position: relative;
    line-height: 118%;
    font-weight: 500;
    display: inline-block;
    width: 535px;
  }
  .enjoy-abc-contests {
    position: relative;
    font-size: 20px;
    color: #89759c;
    display: inline-block;
    width: 500px;
  }
  .unlock-exclusive-opportunities-parent {
    position: absolute;
    top: 180px;
    left: calc(50% - 267.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .feature-card-parent {
    position: absolute;
    top: 613px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 37px;
  }
  .feature-card-child1 {
    position: absolute;
    top: 281px;
    left: 179px;
    border-radius: 50%;
    background: linear-gradient(
      91.19deg,
      rgba(117, 38, 242, 0.3),
      rgba(200, 38, 242, 0.3)
    );
    filter: blur(500px);
    width: 506px;
    height: 506px;
  }
  .images-icon {
    position: absolute;
    top: 270.17px;
    left: 433.4px;
    width: 511.82px;
    height: 436.08px;
    display: none;
  }
  .are-you-ready,
  .unlock-your-abc {
    position: relative;
    display: inline-block;
    width: 769px;
  }
  .unlock-your-abc {
    line-height: 118%;
    font-weight: 500;
  }
  .are-you-ready {
    font-size: 20px;
    line-height: 28px;
    color: #ba94df;
  }
  .unlock-your-abc-earning-potent-parent {
    position: absolute;
    top: 48px;
    left: calc(50% - 385px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
  }
  .frame-48101613-2,
  .image-15-icon {
    position: absolute;
    object-fit: cover;
  }
  .frame-48101613-2 {
    bottom: 0;
    left: calc(50% - 223px);
    width: 388px;
    height: 377px;
  }
  .image-15-icon {
    top: 55px;
    left: 281px;
    width: 165px;
    height: 165px;
  }
  .frame-48101613-2-parent {
    position: absolute;
    bottom: -80px;
    left: calc(50% - 194px);
    width: 446px;
    height: 377px;
  }
  .rectangle-div {
    position: absolute;
    top: 514px;
    left: 239px;
    background: linear-gradient(180deg, rgba(37, 27, 46, 0), #251b2e);
    width: 388px;
    height: 59px;
  }
  .feature-card3 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 28px;
    background-color: #191919;
    width: 866px;
    height: 573px;
    overflow: hidden;
  }
  .boost-your-sales {
    position: relative;
    line-height: 140%;
    font-weight: 500;
  }
  .take-control-of {
    position: relative;
    font-size: 20px;
    line-height: 28px;
    color: #89759c;
    display: inline-block;
    width: 769px;
  }
  .group-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 14px;
    background-color: #1c1423;
    width: 182.05px;
    height: 248.56px;
  }
  .image-16-icon {
    position: absolute;
    top: 51.26px;
    left: 10.2px;
    width: 163px;
    height: 162px;
    object-fit: cover;
  }
  .rectangle-parent {
    position: relative;
    width: 182.05px;
    height: 248.56px;
  }
  .rectangle-icon,
  .rectangle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 182.05px;
    height: 182.05px;
  }
  .rectangle-icon {
    border-radius: 14px;
    object-fit: cover;
  }
  .rectangle-wrapper {
    overflow: hidden;
  }
  .green-modern-bikini {
    position: absolute;
    top: 194.65px;
    left: 8.4px;
    letter-spacing: 0.14px;
  }
  .div1,
  .div2 {
    position: absolute;
  }
  .div1 {
    top: 217.75px;
    left: 8.4px;
    font-size: 15.4px;
    letter-spacing: 0.7px;
    font-weight: 600;
    text-align: left;
  }
  .div2 {
    top: 0.7px;
    left: 16.8px;
    font-weight: 500;
  }
  .material-symbolsstar-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    overflow: hidden;
  }
  .group-container,
  .group-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 32.8px;
    height: 14px;
  }
  .group-container {
    top: 219.86px;
    left: 140.74px;
    text-align: right;
    font-size: 11.2px;
  }
  .rectangle-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 182.05px;
    height: 248.56px;
  }
  .group-child2,
  .group-child6 {
    position: absolute;
    top: 0;
    left: -2.8px;
    border-radius: 14px;
    width: 187.65px;
    height: 187.65px;
    object-fit: cover;
  }
  .group-child6 {
    width: 182.05px;
  }
  .group-parent {
    position: absolute;
    top: 284.74px;
    left: calc(50% - 384.83px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 19.6px;
    text-align: justify;
    font-size: 12.6px;
    color: #fff;
  }
  .feature-card4 {
    position: absolute;
    top: 0;
    left: 903px;
    border-radius: 28px;
    background-color: #191919;
    width: 866px;
    height: 573px;
    overflow: hidden;
  }
  .features {
    position: absolute;
    top: 156px;
    left: 76px;
    width: 1769px;
    height: 1037px;
    text-align: center;
    font-size: 40px;
    color: #cac4d2;
  }
  .key-features-section {
    position: absolute;
    top: 1060px;
    left: 0;
    width: 1921px;
    height: 1193px;
    color: #d9d9d9;
  }
  .motion-background-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1087px;
    overflow: hidden;
  }
  .hero-banner-section {
    position: absolute;
    top: 0;
    left: calc(50% - 960px);
    width: 1920px;
    height: 980px;
  }
  .a-creators-paradise {
    position: relative;
    line-height: 118%;
    font-weight: 600;
  }
  .were-creativity-meets {
    position: relative;
    font-size: 36px;
    color: #c2a9d9;
  }
  .a-creators-paradise-parent {
    position: absolute;
    top: calc(50% - 156.5px);
    left: 126px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 21px;
  }
  .frame-child9 {
    position: absolute;
    top: 723px;
    left: calc(50% - 960px);
    background: linear-gradient(
      180deg,
      rgba(80, 27, 138, 0),
      rgba(18, 18, 18, 0.7)
    );
    width: 1920px;
    height: 263px;
    overflow: hidden;
  }
  .frame-child10 {
    position: relative;
    border-radius: 4.49px;
    width: 31.44px;
    height: 31.44px;
  }
  .continue-with-google {
    position: relative;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .frame-parent16 {
    position: absolute;
    top: calc(50% - 15.78px);
    left: calc(50% - 127px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 26.95px;
  }
  .button,
  .signup-form-inner {
    position: absolute;
    left: calc(50% - 226px);
    border-radius: 15.72px;
    width: 452px;
  }
  .signup-form-inner {
    top: 44px;
    background-color: #4285f4;
    height: 63px;
    overflow: hidden;
  }
  .button {
    top: 482px;
    background: linear-gradient(90.63deg, #7426f2, rgba(152, 88, 255, 0.97));
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8.983333587646484px;
    box-sizing: border-box;
    color: #cac4d2;
  }
  .signup-form-child {
    position: absolute;
    top: 129.44px;
    left: calc(50% - 226.56px);
    width: 450.29px;
    height: 1.12px;
  }
  .first-name {
    position: absolute;
    top: calc(50% - 11.3px);
    left: 18.08px;
  }
  .text-fielddark {
    position: relative;
    border-radius: 11.3px;
    border: 1.1px solid #3d3549;
    box-sizing: border-box;
    width: 219.22px;
    height: 63.28px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .text-fielddark-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13.56px;
  }
  .visibility-off-icon {
    position: absolute;
    top: 18.08px;
    left: 402.28px;
    width: 27.12px;
    height: 27.12px;
  }
  .text-fieldeyeblksml {
    position: relative;
    border-radius: 11.3px;
    border: 1.1px solid #3d3549;
    box-sizing: border-box;
    width: 452px;
    height: 63.28px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-parent17 {
    position: absolute;
    top: 152px;
    left: calc(50% - 226px);
    height: 246px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 28px;
    font-size: 18.08px;
  }
  .terms-conditions {
    font-weight: 500;
  }
  .by-signing-up-container {
    position: absolute;
    top: calc(50% + 166.5px);
    left: calc(50% - 227px);
    font-size: 16px;
    color: #acacac;
    text-align: justify;
    display: inline-block;
    width: 452px;
  }
  .login1 {
    font-weight: 600;
    color: #7421f4;
  }
  .already-have-an-container {
    position: absolute;
    top: calc(50% + 334.5px);
    left: calc(50% - 226px);
    font-size: 16px;
    text-align: justify;
    color: #8971a0;
  }
  .group-child7,
  .vector-icon {
    position: absolute;
    top: 9.54px;
    left: calc(50% - 225.56px);
    width: 205.42px;
    height: 1.12px;
  }
  .group-child7 {
    top: 9.55px;
    left: calc(50% + 20.14px);
  }
  .or {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 9.48px);
    display: inline-block;
    width: 18.99px;
  }
  .vector-parent {
    position: absolute;
    top: 618px;
    left: calc(50% - 225px);
    width: 450px;
    height: 20px;
    text-align: justify;
    font-size: 13.48px;
    color: #484848;
    font-family: Poppins;
  }
  .button1 {
    position: absolute;
    top: 654px;
    left: calc(50% - 226px);
    border-radius: 15.72px;
    background: linear-gradient(91.19deg, #7526f2, #c826f2);
    width: 452px;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8.983333587646484px;
    box-sizing: border-box;
  }
  .expand-more-icon {
    position: relative;
    width: 36px;
    height: 36px;
  }
  .gmt0530-india-standard-time-parent {
    position: absolute;
    top: 422px;
    left: calc(50% - 226px);
    width: 451px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    font-size: 18px;
    color: #8971a0;
  }
  .signup-form {
    position: absolute;
    top: calc(50% - 463.5px);
    left: 1254px;
    border-radius: 31.44px;
    background-color: rgba(30, 28, 34, 0.6);
    backdrop-filter: blur(10px);
    width: 540px;
    height: 795px;
    overflow: hidden;
    font-size: 17.97px;
    color: #fff;
  }
  .motion-background-parent {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, 0.49);
    backdrop-filter: blur(50px);
    width: 1920px;
    height: 1087px;
    overflow: hidden;
  }
  .section-1 {
    top: 0;
    width: 1920px;
    height: 980px;
    overflow: hidden;
    font-size: 100px;
  }
  .content,
  .scroll,
  .section-1 {
    position: absolute;
    left: 0;
  }
  .scroll {
    top: 0;
    background-color: #121212;
    width: 1921px;
    height: 5473px;
  }
  .content {
    top: 100px;
    width: 1920px;
    height: 980px;
    overflow-y: auto;
  }
  .home1 {
    position: relative;
    background: linear-gradient(91.19deg, #7526f2, #c826f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .expand-more-icon1 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  .programs-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .frame-wrapper9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #c6c6c6;
  }
  .home-parent,
  .login3 {
    position: absolute;
    top: calc(50% - 12px);
  }
  .home-parent {
    left: calc(50% - 641px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 66px;
  }
  .login3 {
    left: calc(50% - 25px);
    font-weight: 500;
  }
  .login2 {
    position: relative;
    width: 60px;
    height: 58px;
  }
  .sign-up {
    position: relative;
    font-weight: 500;
  }
  .login-parent,
  .sign-up-button {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sign-up-button {
    border-radius: 16px;
    background: linear-gradient(91.19deg, #7526f2, #c826f2);
    width: 161px;
    height: 58px;
    justify-content: center;
    padding: 12px 40px;
    box-sizing: border-box;
  }
  .login-parent {
    position: absolute;
    top: calc(50% - 29px);
    right: 0;
    justify-content: flex-start;
    gap: 32px;
  }
  .frame-parent18 {
    position: absolute;
    top: calc(50% - 26px);
    left: 562px;
    width: 1282px;
    height: 52px;
  }
  .heading-child {
    position: absolute;
    bottom: 0;
    left: 550px;
    width: 77.5px;
    height: 4px;
  }
  .logo1 {
    position: absolute;
    top: 29px;
    left: 92px;
    font-size: 36px;
    font-family: Raleway;
  }
  .heading3,
  .home {
    background-color: #121212;
  }
  .heading3 {
    position: absolute;
    top: 0;
    left: calc(50% - 960px);
    width: 1920px;
    height: 100px;
    font-size: 20px;
    color: #fff;
  }
  .home {
    position: relative;
    width: 100%;
    height: 5573px;
    text-align: left;
    font-size: 64px;
    color: #cac4d2;
    font-family: Roboto;
  }
  